.food-item{
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image{
  width: 100%;
  

}
.food-item-info{
  padding: 20px;
}
.food-item-name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p{
  font-size: 20px;
  font-weight: 500;
}
.food-item-name-rating img{
  width: 70px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.food-item-desc{
  color: rgb(47, 47, 47);
  font-size: 12px;
}
.food-item-price{
  color: rgb(81, 135, 11);
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}